.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
.env
.toml
htmlcov
dist
site
.coverage
coverage.xml
.netlify
*.db
log.txt
env3.*
env
docs_build
venv
docs.zip
archive.zip
*.gz
acme.json
.sec 

# vim temporary files
*~
.*.sw?
src/app/backups/dump_09-12-2022_00_18_37.gz:Zone.Identifier
src/app/uploads/MiniCMS/coolest.gif
src/app/uploads/MiniCMS/dancing-flames-fire-zoom-meeting-background-design-template-b7de7ba627915c9f0f35edba5d37d349_screen.mp4
src/app/uploads/MiniCMS/flames.mp4
src/app/uploads/MiniCMS/MediaPipe_UV_Layout_Transfer-1.pdf
traefik/traefik_dynamic.toml
traefik/traefik.toml
cloudflare-tunnel.sec
docker-compose-prod.yml
