/* BASIC TYPOGRAPHY                       */
/* from https://github.com/oxalorg/sakura */
html {
  font-size: 62.5%;
  font-family: sans-serif;
}
body {
  font-size: 1.75rem;
  line-height: 1.618;
  max-width: 100%; /* 38em; */
  margin: auto;
  color: #4a4a4a;
  background-color: #f9f9f9;
  padding: 13px;
}
@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}
@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
h1 {
  font-size: 2.35em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.0em;
}
h5 {
  font-size: 0.75em;
}
h6 {
  font-size: 0.5em;
}

/* RESET LAYOUT AND ADD COLORS */
body {
  margin: 0;
  padding: 0;
  max-width: inherit;
  background: #fff;
  color: #4a4a4a;
}
header  {
  text-align: left;
}
footer  {
  text-align: center;
}
header, footer {
  background-color: #4a4a4a;
  color: #f9f9f9;
}
header {
  font-size: smaller;
  padding: 0.3em 0;
}
footer {
  font-size: smaller;
  padding: 0.3em 0;
}

nav {
  background: #eee;
}
main {
  background: #f9f9f9;
}
aside {
  background: #eee;
}

#topPageHeader {
  margin: 20px;
}

img#MiniCMSLogo {
  float: left;
  padding: 0 20px 20px 0;
}

/* button stylines from https://fdossena.com/?p=html5cool/buttons/i.frag */
a.button {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4a4a4a;
  text-align:center;
  transition: all 0.2s;
}
a.button:hover {
  background-color:#4095c6;
}
@media all and (max-width:30em) {
  a.button {
    display:block;
    margin:0.2em auto;
  }
} 

/* see https://css-tricks.com/css-grid-one-layout-multiple-ways/ */
.grid {
  display: grid;
  min-height: 100vh;
  grid-gap: 0.5em;
  grid-template-columns: 170px 1fr 170px;
  grid-template-rows: min-content 1fr 3em;
}

header {
  grid-row: 1;
  grid-column: 1 / 4;
}

nav {
  grid-row: 2;
  grid-column: 1 / 2;
  padding: 0 10px;
}

main {
  grid-row: 2;
  grid-column: 2 / 3;
  padding: 0;
}

.resizeable {
  resize: vertical;
  overflow: auto;
  border: 2px solid #bababa;
}

div#main-content {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0px;
  position: relative;
}

div#commentEditorContainer {
  background: #eee; 
}
.editorContainer { 
  height: 75%; 
  padding: 5px;
} 
.ql-container {
  font-size: 20px;
}

div#uploadDownloadSet {
  margin: 5px;
  border: #bababa;
  border-width: thin;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
}

div#uploadDownloadTop a.g5, div#membersTop a.g5 {
  float: right;
  margin-top: -60px;
}

form#uploadForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  margin: 8px;
}
form#uploadForm div.upload1 {
  grid-area: 1 / 1 / 2 / 2;
  margin-left: -8px;
}
form#uploadForm div.upload1 label {
  font-size: 1.5em;
}
form#uploadForm div.upload2 {
  grid-area: 1 / 2 / 2 / 3;
}
form#uploadForm div.upload3 {
  grid-area: 1 / 3 / 2 / 4;
}
input[type=file]::file-selector-button {
  font-size: 18px;
  font-weight: bold;
  margin: 10px;

}
form#uploadForm div.upload3 a#uploadBttn {
  margin-top: 8px;
}
div#divUploadMsg {
  margin-top: -5px;
  margin-bottom: 20px;
}
div#divUploadLinksMsg {
  margin-top: 10px;
  margin-bottom: 15px;
}

div#divUploadLinksWrapper, div#projectMembers {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 12em;
  background: #eee; 
  border: #bababa;
  border-width: thin;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
}
div#divUploadLinksHeader, div#divUploadLinksWrapper {
  font-size: 14px;
  font-weight: bold;
}
div#divUploadLinksGridParent {
  display: grid;
  grid-template-columns: 2fr repeat(5, 1fr); 
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px; 
}
div#divUploadLinksWrapper hr {
  color: #8a8a8a;
}
div#divUploadLinksGrid0 {
  grid-area: 1 / 1 / 2 / 2;
}
div#divUploadLinksGrid1 {
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
}
div#divUploadLinksGrid2 {
  grid-area: 1 / 3 / 2 / 4;
  text-align: center;
}
div#divUploadLinksGrid3 {
  grid-area: 1 / 4 / 2 / 5;
  text-align: center;
}
div#divUploadLinksGrid4 {
  grid-area: 1 / 5 / 2 / 6;
  text-align: center;
}
div#divUploadLinksGrid5 {
  grid-area: 1 / 6 / 2 / 7;
  text-align: center;
}
div.divProjMembershipGridParent {
  display: grid;
  grid-template-columns:  1fr 2fr 1fr; 
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}
div.ProjMembershipGrid0 { grid-area: 1 / 1 / 2 / 2; }
div.ProjMembershipGrid1 { grid-area: 1 / 2 / 2 / 3; }
div.ProjMembershipGrid2 { grid-area: 1 / 3 / 2 / 4; } 

div#projectMembersHeader {
  font-weight: bold;
  margin-left: 18px;
}

div.postMetadata {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}
div.postMetadata h5.g1 { 
  grid-area: 1 / 1 / 2 / 2; 
}
div.postMetadata h5.g2 { 
  grid-area: 1 / 2 / 2 / 3; 
}
div.postMetadata h5.g3 { 
  grid-area: 1 / 3 / 2 / 4; 
}
div.postMetadata h5.g4 { 
  grid-area: 1 / 4 / 2 / 5; 
}
div.postMetadata h5.g5 { 
  grid-area: 1 / 5 / 2 / 6; 
}


div.postMetadata h2.g1 { 
  grid-area: 1 / 1 / 2 / 2; 
}
div.postMetadata a.g3 { 
  grid-area: 1 / 3 / 2 / 4;  
  font-size: 16px;
  height: 2.4em;
  margin-top: 1.5em;
}
div.postMetadata a.g5 { 
  grid-area: 1 / 5 / 2 / 6; 
  font-size: 16px;
  height: 2.4em;
  margin: 1.5em 0 0 0;
}

div#commentsTop h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

div#existingComments {
  background: #eee;
  margin: 20px 10px;
}
div.comment {
  margin: 5px 5px;
  background: #eee;
}
div.comment div.postMetadata {
  margin-bottom: -20px;
}
div.comment p {
  margin: 8px 5px;
}

form#editorForm a.button {
  margin: 0px 10px 10px;
}

div#mainContent div.ql-editor {
  background: #eef;
  padding: 5px 10px;
}
div#mainContent h5 {
  margin: 5px 0px;
}
div#mainContent a {
  margin: 10px 10px 0px 10px;
}

input#NewPostTitle, input#NewProjectName, input#ProjectTag {
  width: 80%;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: bold;
}

input#NewPostTags {
  width: 60%;
  margin: 10px 0;
  font-size: 2em;
  font-weight: bold;
}

input#NewPostUpload {
  font-size: 20px;
}
div#uploadList {
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
}
div#uploadSelectionDiv {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}
div#uploadSelectionMsg, div#widthHeightMsg {
  font-size: smaller;
  margin-bottom: 20px;
}
div#uploadInsertWidthDiv, div#uploadInsertHeightDiv {
  display: inline;
  font-size: small;
  margin-top: 20px;
  margin-bottom: 0px;
}
div#uploadInsertWidthDiv label {
  font-size: large;
}
div#uploadInsertHeightDiv label {
  font-size: large;
  margin-left: 20px;
  margin-right: -20px;
}
div#uploadDeleteBttnDiv {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
div#uploadInsertBttnDiv {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.twoColumns {
  display: grid;
  grid-template-columns: 0.5fr 1.25fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}
div.twoColumns h2 {
  margin: 10px 0px;
}

div.twoColumnsMargined {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  /*margin-top: -25px;*/
  margin-bottom: 5px;
}
div.twoColumnsMargined h2 {
  margin: 20px 0px 10px;
}
div.twoCols0 {
  grid-area: 1 / 1 / 2 / 2;
}
div.twoCols1 {
  grid-area: 1 / 2 / 2 / 3;
}
a.twoCols1  { 
  grid-area: 1 / 2 / 2 / 3;
  font-size: 16px;
  width: 20em;
  height: 2.4em;
  margin: 1.25em 0 0 0;
}

div#projectMemoList {
  margin-top: 0;
  margin-left: 2em;
}

div.fourColumns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}
div.fourCols0 {
  grid-area: 1 / 1 / 2 / 2;
}
div.fourCols1 {
  grid-area: 1 / 2 / 2 / 3;
}
div.fourCols2 {
  grid-area: 1 / 3 / 2 / 4;
}
div.fourCols3 {
  grid-area: 1 / 4 / 2 / 5;
}

.ql-video.ql-align-center {
  margin: 0 auto;
}
.ql-align-center {
  text-align: center;
}
.ql-video {
  display: block;
  max-width: 100%;
}

div#divBeneathTheEditor {
  padding-top: 0px; /* 52px; */
}

input#NewEmailSubject {
  width: 60%;
  margin-bottom: 10px;
  font-size: 20px;
}

label {
  /* width: 12%; */
  display: inline-block;
  font-size: 1.75em;
  font-weight: 700;
  padding-right: 10px;
}
input#username {
  width: 50%;
  font-size: 1.75em;;
  font-weight: bold;
}
input#password, input#password2 {
  width: 50%;
  font-size: 1.75em;;
  font-weight: bold;
}
input#email, input#email2 {
  width: 50%;
  font-size: 1.75em;;
  font-weight: bold;
}
input#confirmPass {
  width: 50%;
  font-size: 1.75em;;
  font-weight: bold;
}
input#vcode {
  width: 50%;
  font-size: 1.75em;;
  font-weight: bold;
}

span#userActionsMsg {
  font-size: 1.0em;
  font-weight: 700;
}
select#userActionsFilter {
  margin-left: 20px;
}

div#userList {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr; 
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px; 
  margin-top: 20px;
  margin-bottom: 20px;
}
div#userSelectionDiv {
  grid-area: 1 / 1 / 2 / 2;
}
select#userSelectBox {
  width: 100%;
} 
select#userSelectBox option {
  font-weight: bold;
  font-size: 20px;
}
div#userInfoDiv {
  grid-area: 1 / 2 / 2 / 3;
}
div#userInfoDiv h4 {
  width: 100%;  
  margin-top: -40px;
}
div#userActionDiv {
  grid-area: 1 / 3 / 2 / 4;
}
div#userActionDiv h4 {
  margin-top: -40px;
}
div#userActionDiv label {
  font-size: 1.0em;
}
#userActionBox {
  width: 100%;
  height: 7em;
  overflow-y: auto;
  font-family: monospace;
} 
select#userActionBox option {
  font-weight: bold;
  font-size: 14px;
}

div#authorName {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 10px;
}

select#statusSelectBox, select#NewPostAccess {
  font-size: 2em;
  font-weight: bold;
}

div#statusSelectionMsg, div#AccessSelectionMsg, div#TagsMsg {
  margin: 10px 0;
}

aside {
  grid-row: 2;
  grid-column: 3 / 4;
  padding: 0 10px;
}

footer {
  grid-row: 3;
  grid-column: 1 / 4;
}

.slide {
  max-width: 100%;
}

label.chkbox {
  padding-left: 20px;
  font-weight: bold;
  width: auto;
}
input.chkbox {
  width: 26px;
  height: 26px;
}

#mainContent {
  max-width: 100%;
}

#mainContent h1 {
  margin-bottom: 0px;
}

div#userRegistration {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
div#userRegistration label {
  width: 350px;
}

div#backupList {
  padding: 20px 0px;
}
div#backupList label, div#userSettings label {
  width: 475px;
}
div#userSettings {
  padding: 20px 0px;
}
div#userSettings a#changeEmailBttn {
  margin-bottom: 20px;
}
div#userEmail, div#userEmail2, div#userPassword, div#userPassword2 {
  padding: 10px 0px;
}
div#userSettings div#userMsg, div#userSettings div#userMsg2 {
  margin-bottom: 10px;
}
div#userSettings div#userMsg3 {
  margin-bottom: -10px;
}
div#userMsg3 {
  margin-top: 40px;
}

div.memolist ul li, div.projectlist ul li {
  list-style-type: none;
  font-size: 1.7em;
  font-weight: bold;
}