<!DOCTYPE html>
{# 
	This is a Jinja2 template for an html page
	These lines are comments and are removed when the template is rendered. 
#}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MiniCMS</title>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
	<div class="grid">
		{% include 'common_header.html' %}

		{# the left sidebar #}
		{% include 'common_lsidebar.html' %}

		<main>
			<div id="mainContent">
                <h2>Account & Admin Settings for {{ data.username }}:</h2>
				
				<input type="checkbox" name="public_registration" id="public_registration" class="chkbox" />
        		<label for="public_registration" class="chkbox">Expose site registration page to public, allow public registration</label>

				<div id="adminMsg"></div>
                <br/>
                <a href="#" class="button" onclick="SaveAdminSettings()">Save Admin Settings</a>
  				
				
				<div id="backupList">
					<div id="backupSelectionDiv">
						<label for="refSelectBox">Available backups:</label>
						<select id="refSelectBox" onchange="onBackupSelectChangeFunc();"></select>
					</div>
					<div id="backupSelectionMsg">
						Select the backup file to download. 
						<br/>
						Create backups with the src/app/backups/new_backup.sh script on the container host. 
					</div>
					<br/>
					<a href="#" class="button" id="backupDownloadBttn" onclick="DownloadBackup()">Please select a backup to download first</a>
				</div>
  				
                <h2>User Accounts:</h2>
				<div id="userList">
					<div id="userSelectionDiv">
						<select id="userSelectBox" class="resizeable" size="4" onchange="onUserSelectChangeFunc();"></select>
						<div id="userSelectionMsg">
							Select a user to examine. 
						</div>
					</div>
					<div id="userInfoDiv">
						<h4>Selected User:</h4>
					</div>
					<div id="userActionDiv">
						<h4>Selected User Actions (website activity):</h4>
						<label for="userActionOffset">Offset:</label>
  						<input type="text" id="userActionOffset" name="label" value="0">
						<label for="userActionLimit">Request:</label>
						<input type="text" id="userActionLimit" name="label" value="50">
						<span id="userActionsMsg"></span>
						<select id="userActionsFilter" onchange="onUserActionFilterChangeFunc();">
							<option value="ALL">Display all</option>
							<option value="SITEBUG">Site bugs</option>
							<option value="NORMAL">Normal behaviors</option>
							<option value="CONFUSED">Confused user</option>
							<option value="WARNING">Bad user behavior</option>
							<option value="BANNED_ACTION">Banned behavior</option>
						</select>
						<select id="userActionBox" class="resizeable" size="7"></select>
					</div>
				</div>

				<div class="twoColumns">
					<h2 class="twoCols0">Create New Account:</h2>
					<a href="#" class="button twoCols1" onclick="ToggleCreateAccountSet()">Show/Hide Create New Account</a>
				</div>
				<div id="CreateAccountSet">
					<div id="userRegistration">
						<br/>
						<label for="username">Username:</label>
							<input type="text" id="username" name="label" value="">
						<br/>
						<label for="email">Email Addr:</label>
							<input type="text" id="email" name="label" value="">
						<br/>
						<label for="password">Password:</label>
							<input type="password" id="password" name="label" value="">
						<br/>
						<label for="confirmPass">Confirm Password:</label>
							<input type="password" id="confirmPass" name="label" value="">
						<br/>
					</div>
					<h4>Use these controls to create new user accounts. 
						If the Admin Setting for 'expose site registration to the public' 
						is unchecked, the above controls are the only way to create new user accounts. 
						Remember new user passwords must be a minimum of 12 characters long. After
						creating a new user account, an email is sent to the registered new user's email 
						containing an email verification code. Until that code is entered, the user may 
						login but nothing works until email their is verified. 
					</h4>
					<div id="divRegisterButtons">
						<a href="#" class="button" onclick="CreateUserAccount()">Create New User Account</a>
					</div>
					<div id="createMsg"></div>
					<br/>
				</div>

				<div class="twoColumns">
					<h2 class="twoCols0">Your Account:</h2>
					<a href="#" class="button twoCols1" onclick="ToggleYourAccountSet()">Show/Hide Your Account</a>
				</div>
                
				{% include 'common_settings.html' %}

			</div>
		</main>

		<aside>
			<div id="aside">
				<a href="#" class="button" onclick="Profile()">Profile</a>
				<a href="#" class="button" onclick="Logout()">Logout</a>
			</div>
		</aside>
  
	<footer>
		{{ frags[0].footer | safe }} 
	</footer>
	</div>
	
	{% include 'common_ifAccessDo.html' %}

	<script>
		
		document.addEventListener( "DOMContentLoaded", function(){page_init();} );
		//
		function page_init_work() {

			// user is logged in:
							
			var state = "{{ data.public_registration }}"
			state = (state=="True")
			document.getElementById("public_registration").checked = state;

			get_available_backups();
			get_user_list();

			// if the user enters return inside either of these input ctrls,
			// the selected user's appropriate activity is loaded
			AddUserActionsReturnListener( "userActionOffset" )
			AddUserActionsReturnListener( "userActionLimit" )

			document.getElementById("userActionsFilter").value = "ALL"
			ToggleCreateAccountSet();
			ToggleYourAccountSet();
		}
		//
		function page_init() {
			ifAccessDo(page_init_work);
		}

		function SaveAdminSettingsWork() {
			
			// get admin settings:
			const allowPublicRegistration = document.getElementById("public_registration").checked;
                		
			// package as "note" (example of json inside json)
			const someData = {
				"title": "site_config", 
				"description": "configuration data for admins", 
				"data": JSON.stringify({ "public_registration": allowPublicRegistration }) ,
			} 
			
			const options = {
				credentials: 'include',
				method: 'PUT', // Method itself
				headers: {
						 'Content-type': 'application/json; charset=UTF-8', // Indicates the content 
						 // "Authorization": "Bearer " + access_token // only needed when JWT is not in cookie
				},
				body: JSON.stringify(someData) // We send data in JSON format
			}

			// make the HTTP put request using fetch api  (this furl building is required, apparently)
			let domain = (new URL(window.location));
			const prebsjnk = domain.origin;
			const furl = prebsjnk + '/notes/1';
			//
			fetch( furl, options )
					.then( response => response.json() )
					.then( response => {
						// Do something with response.
						console.log( response )
						document.getElementById("adminMsg").innerHTML = 
							'<p>Admin Settings saved.</p>';
					}
				); 
		}
		function SaveAdminSettings() {
			ifAccessDo(SaveAdminSettingsWork);
		}

		// called when user clicks the "Show / Hide Your Account" button
		function ToggleCreateAccountSet() {
			let yourAcctSet = document.getElementById("CreateAccountSet")
			if (yourAcctSet.style.display === "none") {
				yourAcctSet.style.display = "block";
			  } else {
				yourAcctSet.style.display = "none";
			  }
		}
		
		function CreateUserAccount() { 
            
            // get the user's info:
			const regUser = document.getElementById("username").value;
			const regEmail = document.getElementById("email").value;
			const regPass = document.getElementById("password").value;
			const regConf = document.getElementById("confirmPass").value;

			const crtMsg = document.getElementById("createMsg");
            if (regPass.length < 12) {
                crtMsg.innerHTML = '<h3>Password must be at least 12 characters long.</h3>'
            }
            else if (regPass!=regConf) {
                crtMsg.innerHTML = '<h3>Password and Confirm Password must match.</h3>'
            }
            else if (regEmail.indexOf('@') < 1) {
                crtMsg.innerHTML = '<h3>Please supply a valid email, it is required for account validation.</h3>'
            }
            else {
                
                crtMsg.innerHTML = 'Attempting to create user...'

                const regData = { 
                    'username': regUser, 
                    'email': regEmail,
                    'password': regPass,
                };
                const options = { 
                    method: 'POST', 
					headers: {
				  		'Accept': 'application/json',
				  		'Content-Type': 'application/json',
					},
                    body: JSON.stringify( regData ) 
                };
                fetch('/users/create', options)
                .then(response => response.text())
                .then(data => { 
                    console.log(data);
                    const jsonData = JSON.parse(data);
                    if (jsonData.hasOwnProperty('detail')) {
                        // problem!
                        console.log(jsonData.detail) 
					    alert( jsonData.detail )
						crtMsg.innerHTML = 'Problem: ' + jsonData.detail;
                    }
                    else {
						get_user_list();
                        crtMsg.innerHTML = 'Success! New user account named ' + regUser + ' created.';
						document.getElementById("username").value = "";
						document.getElementById("email").value = "";
						document.getElementById("password").value = "";
						document.getElementById("confirmPass").value = "";
                    }
                })
				.catch(err => {
					// Do something with the error
					console.log(err) 
					alert( err )
					crtMsg.innerHTML = 'Problem: ' + err;
				}) 
            }
        }

		let gUsers = {}
		let gSelectedUserId = -1;
		let gSelectedUserIndex = -1;
		//
		function SetUserInfoMarkup( userIndex, actionCount ) {
			let markup = '<h4>Selected User: </br></br>' +
						 'Username: ' + gUsers[userIndex].username + '</br>' +
					     'UserId: '   + gUsers[userIndex].userid + '</br>' +
						 'Roles: ' + gUsers[userIndex].roles + '</br>' +
						 'Email: ' + gUsers[userIndex].email + '</br></br>';
			if (actionCount >= 0) {
				markup += 'User Actions: ' + actionCount + '</h4>';
			}
			else {
				markup += 'User Actions: (loading...)</h4>';
			}
			document.getElementById("userInfoDiv").innerHTML = markup;
		}
		//
		// get list of users and populate user selection list:
		const get_user_list = () => {
			fetch('/users/', { // GET endpoint
				  method: 'GET',
				  headers: {}
			}).then(
				  response => response.json() // if the response is a JSON object
			 ).then(
				  success => {
					console.log( success ) // Handle the success response object  
					let userSelectBox = document.getElementById("userSelectBox")
					//
					let i = userSelectBox.options.length;
					//
					for ( ; i >= 0; i--) {
						userSelectBox.remove(i);
					}
					//
					gUsers = success; // remember
					gSelectedUserId = -1;
					gSelectedUserIndex = -1;
					//
					limit = success.length;
					for (i = 0; i < limit; i++) {
						let optn = document.createElement("OPTION");
						optn.text = gUsers[i].username;
						optn.value = gUsers[i].userid; 
						userSelectBox.options.add(optn);
					}
				}
			 ).catch(
				  error => {
					console.log( error ) // Handle the error response object
				}
			);
		  };

		// called when the user selection changes:
		function onUserSelectChangeFunc() {
			let userSelectBox = document.getElementById("userSelectBox")
			gSelectedUserId = userSelectBox.value;
			for (i = 0; i < gUsers.length; i++) {
				if (gUsers[i].userid == gSelectedUserId) {

					gSelectedUserIndex = i;
					SetUserInfoMarkup( i, -1 );
					get_user_action_count( gSelectedUserId, gSelectedUserIndex ); // not cached, so is "live"
					break;
				}
			}
		}
		//
		// get list of user actions and populate selection list:
		function get_user_action_count( userIdParam, userIndexParam ) {

			let domain = (new URL(window.location));
			const prebsjnk = domain.origin;
			let furl = prebsjnk + '/user_action/count/' + userIdParam;

			fetch(furl, { // GET endpoint
				  method: 'GET',
				  headers: {}
			}).then(
				  response => response.json() // if the response is a JSON object
			 ).then(
				  success => {
					console.log( success ) // Handle the success response object
					
					get_user_actions( userIdParam ); 
					SetUserInfoMarkup( userIndexParam, success['count'] );
				}
			 ).catch(
				  error => {
					console.log( error ) // Handle the error response object
				}
			);
		};

		function UserActionsReturnAction(event) {
			// If the user presses the "Enter" key on the keyboard
			if (event.key === "Enter") {
				// Cancel the default action, if needed
				event.preventDefault();
				// Trigger what we want to happen:
				if (gSelectedUserId > 0) {
					get_user_actions( gSelectedUserId )
				}
			}
		}

		function AddUserActionsReturnListener( elem ) {
			// Get the DOM element we want sensitive to return presses:
			let returnSensitiveArea = document.getElementById(elem);
			if (returnSensitiveArea) {
				// Execute a function when the user presses a key on the keyboard
				returnSensitiveArea.addEventListener("keypress", UserActionsReturnAction ); 
			}
			
		}

		// get list of user actions and populate selection list:
		function get_user_actions( userId ) {

			let actionOffset = document.getElementById("userActionOffset").value;
			let actionLimit = document.getElementById("userActionLimit").value;

			if (actionOffset < 0) {
				actionOffset = 0;
			}
			if (actionLimit < 0) {
				actionLimit = 50;
			}

			let domain = (new URL(window.location));
			const prebsjnk = domain.origin;
			let furl = prebsjnk + '/user_action/user/' + userId + '/' + actionLimit + '/' + actionOffset;

			fetch(furl, { // GET endpoint
				  method: 'GET',
				  headers: {}
			}).then(
				  response => response.json() // if the response is a JSON object
			 ).then(
				  success => {
					console.log( success ) // Handle the success response object
					
					filter = document.getElementById("userActionsFilter").value;

					actionSelectBox = document.getElementById("userActionBox")
					//
					let i = actionSelectBox.options.length;
					for ( ; i >= 0; i--) {
						actionSelectBox.remove(i);
					}
					//
					var limit = success.length;
					//
					document.getElementById("userActionsMsg").innerHTML = 'Loaded: ' + limit;
					//
					for (i = 0; i < limit; i++) {
						let optn = document.createElement("OPTION");
						let msg = "";
						if ((filter == "ALL") || (filter == success[i].level)) {
							switch (success[i].level) {
								case 'SITEBUG': msg += 'BUG: '; break;
								case 'NORMAL':  msg += 'OK: '; break;
								case 'CONFUSED': msg += '??: '; break;
								case 'WARNING': msg += 'WARN!: '; break;
								case 'BANNED_ACTION': msg += 'BAN!: '; break;
							}
						}
						else  {
							continue;
						}

						msg += success[i].created_date + ': ' + success[i].action;

						if (success[i].description.length > 0) {
							msg += ', ' + success[i].description;
						} 
						optn.text = msg;
						optn.value = i;
						actionSelectBox.options.add(optn);
					} 
				}
			 ).catch(
				  error => {
					console.log( error ) // Handle the error response object
				}
			);
		};

		function onUserActionFilterChangeFunc() {
			if (gSelectedUserId > 0) {
				get_user_actions( gSelectedUserId )
			}
		}

		// get list of backup files and populate download selection list:
		const get_available_backups = () => {
			fetch('/backups/', { // GET endpoint
				  method: 'GET',
				  headers: {}
			}).then(
				  response => response.json() // if the response is a JSON object
			 ).then(
				  success => {
					console.log( success ) // Handle the success response object
					downloadSelectBox = document.getElementById("refSelectBox")
					//
					var i;
					for (i = downloadSelectBox.options.length; i >= 0; i--) {
						downloadSelectBox.remove(i);
					}
					//
					var optn = document.createElement("OPTION");
					optn.text = 'nothing';
					optn.value = 0;
					downloadSelectBox.options.add(optn);
					//
					var limit = success.length;
					for (var i = 0; i < limit; i++) {
						var optn = document.createElement("OPTION");
						optn.text = success[i];
						optn.value = success[i]; // i+1;
						downloadSelectBox.options.add(optn);
					}
				}
			 ).catch(
				  error => {
					console.log( error ) // Handle the error response object
				}
			);
		};

		// called when the backup files dropdown selection changes:
		function onBackupSelectChangeFunc() {
			let backupSelectBox = document.getElementById("refSelectBox")
			let selected = backupSelectBox.value;
			if (Number.isInteger(selected)) {
				document.getElementById("backupDownloadBttn").innerHTML = 'Please select a backup to download first';
			}
			else {
				document.getElementById("backupDownloadBttn").innerHTML = 'Download "' + selected + '"';
			}
		}

		function download_backup_work() {
			let backupSelectBox = document.getElementById("refSelectBox")
			let selected = backupSelectBox.value;
			if (Number.isInteger(selected)) {
				alert("Invalid backup selected, please select a backup to download from the pulldown selection")
			}
			else {
				let url = '/backups/' + selected;
				fetch(url, {
					headers: {
					  "Content-Type": "application/octet-stream",
					},
					credentials: 'include'
			   })
			   .then((res) => { return res.blob(); })
			   .then((data) => {
				 var a = document.createElement("a");
				 a.href = window.URL.createObjectURL(data);
				 a.download = selected;
				 a.click();
			   }); 
			}
		}

		function DownloadBackup() {
			ifAccessDo(download_backup_work);
		}

		function Profile() { window.location.href = "/profile"; }

	</script>

	{% include 'common_settings2.html' %}

	{% include 'common_logout.html' %}


</body>
</html>
