<!DOCTYPE html>
{# 
	This is a Jinja2 template for an html page
	These lines are comments and are removed when the template is rendered. 
#}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MiniCMS</title>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
	<div class="grid">
		{% include 'common_header.html' %}

		{# the left sidebar #}
		{% include 'common_lsidebar.html' %}

		<main>
			<div id="mainContent">
                <h2>Account & Admin Settings for {{ data.username }}:</h2>
				
				<input type="checkbox" name="protect_contact" id="protect_contact" class="chkbox" />
        		<label for="protect_contact" class="chkbox">This is unused. It remains as a developer example of admin settings.</label>

				<div id="adminMsg"></div>
                <br/>
                <a href="#" class="button" onclick="SaveAdminSettings()">Save Admin Settings</a>
  				
				
				<div id="backupList">
					<div id="backupSelectionDiv">
						<label for="refSelectBox">Available backups:</label>
						<select id="refSelectBox" onchange="onBackupSelectChangeFunc();"></select>
					</div>
					<div id="backupSelectionMsg">
						Select the backup file to download. 
						<br/>
						Create backups with the src/app/backups/new_backup.sh script on the container host. 
					</div>
					<br/>
					<a href="#" class="button" id="backupDownloadBttn" onclick="DownloadBackup()">Please select a backup to download first</a>
				</div>
  				
                <h2>User Accounts:</h2>
				<div id="userList">
					<div id="userSelectionDiv">
						<select id="userSelectBox" class="resizeable" size="4" onchange="onUserSelectChangeFunc();"></select>
						<div id="userSelectionMsg">
							Select a user to examine. 
						</div>
					</div>
					<div id="userInfoDiv">
						<h4>Selected User:</h4>
					</div>
					<div id="userActionDiv">
						<h4>Selected User Actions (website activity):</h4>
						<label for="userActionOffset">Offset:</label>
  						<input type="text" id="userActionOffset" name="label" value="0">
						<label for="userActionLimit">Showing:</label>
						<input type="text" id="userActionLimit" name="label" value="50">
						<select id="userActionBox" class="resizeable" size="7" onchange="onUserActionChangeFunc();"></select>
					</div>
				</div>

				<div class="twoColumns">
					<h2 class="twoCols0">Your Account:</h2>
					<a href="#" class="button twoCols1" onclick="ToggleYourAccountSet()">Show/Hide Your Account</a>
				</div>
                
				{% include 'common_settings.html' %}

			</div>
		</main>

		<aside>
			<div id="aside">
				<a href="#" class="button" onclick="Profile()">Profile</a>
				<a href="#" class="button" onclick="Logout()">Logout</a>
			</div>
		</aside>
  
	<footer>
		{{ frags[0].footer | safe }} 
	</footer>
	</div>
	
	{% include 'common_ifAccessDo.html' %}

	<script>
		
		document.addEventListener( "DOMContentLoaded", function(){page_init();} );
		//
		function page_init_work() {

			// user is logged in:
							
			var state = "{{ data.protect_contact }}"
			state = (state=="True")
			document.getElementById("protect_contact").checked = state;

			get_available_backups();
			get_user_list();

			AddUserActionsReturnListener( "userActionOffset" )
			AddUserActionsReturnListener( "userActionLimit" )

			ToggleYourAccountSet();
		}
		//
		function page_init() {
			ifAccessDo(page_init_work);
		}

		function SaveAdminSettingsWork() {
			
			// get admin settings:
			const protectContent = document.getElementById("protect_contact").checked;
                		
			// package as "note"
			const someData = {
				"title": "protect_contact", 
				"description": "configuration data for admins", 
				"data": JSON.stringify({ "protect_contact": protectContent }) ,
			}
			
			const options = {
				method: 'PUT', // Method itself
				headers: {
						 'Content-type': 'application/json; charset=UTF-8', // Indicates the content 
						 // "Authorization": "Bearer " + access_token // only needed when JWT is not in cookie
				},
				body: JSON.stringify(someData) // We send data in JSON format
			}

			fetch( '/notes/1/', options )
					.then( response => response.json() )
					.then( response => {
						// Do something with response.
						console.log( response )
						document.getElementById("adminMsg").innerHTML = 
							'<p>Admin Settings saved.</p>';
					}
				); 
		}
		function SaveAdminSettings() {
			ifAccessDo(SaveAdminSettingsWork);
		}

		
		let gUsers = {}
		let gSelectedUserId = -1;
		let gSelectedUserIndex = -1;
		//
		// get list of users and populate user selection list:
		const get_user_list = () => {
			fetch('/users/', { // GET endpoint
				  method: 'GET',
				  headers: {}
			}).then(
				  response => response.json() // if the response is a JSON object
			 ).then(
				  success => {
					console.log( success ) // Handle the success response object
					let userSelectBox = document.getElementById("userSelectBox")
					//
					let i;
					//
					for (i = userSelectBox.options.length; i >= 0; i--) {
						userSelectBox.remove(i);
					}
					//
					gUsers = success; // remember
					gSelectedUserId = -1;
					gSelectedUserIndex = -1;
					//
					limit = success.length;
					for (i = 0; i < limit; i++) {
						let optn = document.createElement("OPTION");
						optn.text = success[i].username;
						optn.value = success[i].userid; 
						userSelectBox.options.add(optn);
					}
				}
			 ).catch(
				  error => {
					console.log( error ) // Handle the error response object
				}
			);
		  };

		// called when the user selection changes:
		function onUserSelectChangeFunc() {
			let userSelectBox = document.getElementById("userSelectBox")
			gSelectedUserId = userSelectBox.value;
			for (i = 0; i < gUsers.length; i++) {
				if (gUsers[i].userid == gSelectedUserId) {

					gSelectedUserIndex = i;

					document.getElementById("userInfoDiv").innerHTML = 
						'<h4>Selected User: </br></br>' +
						'Username: ' + gUsers[i].username + '</br>' +
					    'UserId: '   + gUsers[i].userid + '</br>' +
						'Roles: ' + gUsers[i].roles + '</br>' +
						'Email: ' + gUsers[i].email + '</br></br>' +
						'User Actions: (loading...)</h4>';

					get_user_action_count( gSelectedUserId );
					get_user_actions( gSelectedUserId ); // not cached, so is "live"

					break;
				}
			}
		}

		// get list of user actions and populate selection list:
		function get_user_action_count( userId ) {

			let domain = (new URL(window.location));
			const prebsjnk = domain.origin;
			let furl = prebsjnk + '/user_action/count/' + userId;

			fetch(furl, { // GET endpoint
				  method: 'GET',
				  headers: {}
			}).then(
				  response => response.json() // if the response is a JSON object
			 ).then(
				  success => {
					console.log( success ) // Handle the success response object
					
					if (gSelectedUserIndex == -1) {
						if (gSelectedUserId == -1) {
							onUserSelectChangeFunc();
						}
						else {
							for (i = 0; i < gUsers.length; i++) {
								if (gUsers[i].userid == gSelectedUserId) {
									gSelectedUserIndex = i;
									break;
								}
							}
						}
					}

					document.getElementById("userInfoDiv").innerHTML = 
						'<h4>Selected User: </br></br>' +
						'Username: ' + gUsers[i].username + '</br>' +
					    'UserId: '   + gUsers[gSelectedUserIndex].userid + '</br>' +
						'Roles: ' + gUsers[gSelectedUserIndex].roles + '</br>' +
						'Email: ' + gUsers[gSelectedUserIndex].email + '</br></br>' +
						'User Actions: ' + success['count'] + '</h4>';
				}
			 ).catch(
				  error => {
					console.log( error ) // Handle the error response object
				}
			);
		};

		function UserActionsReturnAction(event) {
			// If the user presses the "Enter" key on the keyboard
			if (event.key === "Enter") {
				// Cancel the default action, if needed
				event.preventDefault();
				// Trigger what we want to happen:
				if (gSelectedUserId > 0) {
					get_user_actions( gSelectedUserId )
				}
			}
		}
		function AddUserActionsReturnListener( elem ) {
			// Get the DOM element we want sensitive to return presses:
			let returnSensitiveArea = document.getElementById(elem);
			if (returnSensitiveArea) {
				// Execute a function when the user presses a key on the keyboard
				returnSensitiveArea.addEventListener("keypress", UserActionsReturnAction ); 
			}
			
		}

		// get list of user actions and populate selection list:
		function get_user_actions( userId ) {

			let actionOffset = document.getElementById("userActionOffset").value;
			let actionLimit = document.getElementById("userActionLimit").value;

			if (actionOffset < 0) {
				actionOffset = 0;
			}
			if (actionLimit < 0) {
				actionLimit = 50;
			}

			let domain = (new URL(window.location));
			const prebsjnk = domain.origin;
			let furl = prebsjnk + '/user_action/user/' + userId + '/' + actionLimit + '/' + actionOffset;

			fetch(furl, { // GET endpoint
				  method: 'GET',
				  headers: {}
			}).then(
				  response => response.json() // if the response is a JSON object
			 ).then(
				  success => {
					console.log( success ) // Handle the success response object
					actionSelectBox = document.getElementById("userActionBox")
					//
					let i;
					for (i = actionSelectBox.options.length; i >= 0; i--) {
						actionSelectBox.remove(i);
					}
					//
					var limit = success.length;
					for (i = 0; i < limit; i++) {
						let optn = document.createElement("OPTION");
						let msg = success[i].created_date + ': ' + success[i].action;
						if (success[i].description.length > 0) {
							msg += ', ' + success[i].description;
						} 
						optn.text = msg;
						optn.value = i;
						actionSelectBox.options.add(optn);
					}
				}
			 ).catch(
				  error => {
					console.log( error ) // Handle the error response object
				}
			);
		};

		// get list of backup files and populate download selection list:
		const get_available_backups = () => {
			fetch('/backups/', { // GET endpoint
				  method: 'GET',
				  headers: {}
			}).then(
				  response => response.json() // if the response is a JSON object
			 ).then(
				  success => {
					console.log( success ) // Handle the success response object
					downloadSelectBox = document.getElementById("refSelectBox")
					//
					var i;
					for (i = downloadSelectBox.options.length; i >= 0; i--) {
						downloadSelectBox.remove(i);
					}
					//
					var optn = document.createElement("OPTION");
					optn.text = 'nothing';
					optn.value = 0;
					downloadSelectBox.options.add(optn);
					//
					var limit = success.length;
					for (var i = 0; i < limit; i++) {
						var optn = document.createElement("OPTION");
						optn.text = success[i];
						optn.value = success[i]; // i+1;
						downloadSelectBox.options.add(optn);
					}
				}
			 ).catch(
				  error => {
					console.log( error ) // Handle the error response object
				}
			);
		};

		// called when the backup files dropdown selection changes:
		function onBackupSelectChangeFunc() {
			let backupSelectBox = document.getElementById("refSelectBox")
			let selected = backupSelectBox.value;
			if (Number.isInteger(selected)) {
				document.getElementById("backupDownloadBttn").innerHTML = 'Please select a backup to download first';
			}
			else {
				document.getElementById("backupDownloadBttn").innerHTML = 'Download "' + selected + '"';
			}
		}

		
		function download_backup_work() {
			let backupSelectBox = document.getElementById("refSelectBox")
			let selected = backupSelectBox.value;
			if (Number.isInteger(selected)) {
				alert("Invalid backup selected, please select a backup to download from the pulldown selection")
			}
			else {
				let url = '/backups/' + selected;
				fetch(url, {
					headers: {
					  "Content-Type": "application/octet-stream",
					},
					credentials: 'include'
			   })
			   .then((res) => { return res.blob(); })
			   .then((data) => {
				 var a = document.createElement("a");
				 a.href = window.URL.createObjectURL(data);
				 a.download = selected;
				 a.click();
			   }); 
			}
		}

		function DownloadBackup() {
			ifAccessDo(download_backup_work);
		}

		function Profile() { window.location.href = "/profile"; }

	</script>

	{% include 'common_settings2.html' %}

	{% include 'common_logout.html' %}


</body>
</html>
