<!DOCTYPE html>
{# 
	This is a Jinja2 template for an html page
	These lines are comments and are removed when the template is rendered. 
#}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MiniCMS</title>
  <link rel="stylesheet" href="/static/index.css">

</head>
<body>
	<div class="grid">
		{% include 'common_header.html' %}

		{# the left sidebar #}
		{% include 'common_lsidebar.html' %}

		{# the main content area #}
		<main>
			<div id="mainContent">
				{# title and post contents, with various controls #}
				<H2> Project: <a href="#" onclick="ProjectPage()">{{parentName}}</a> </H2>
				<H1> AI Chat: {{contentPost.aichatid}} </H1>
                <div class="postMetadata">
				    <h5 class="g1">Author: {{contentPost.username}}</h5>
				    <h5 class="g2">Created: {{aichatCreated}}</h5>
				    <h5 class="g3">Updated: {{aichatUpdated}}</h5>
                </div>
			</div>

			<div id="oldConversationWrapper">
				<h3>AI conversations you can continue:</h3>
				<div id="oldConversations"></div>
            </div>

			<div class="twoColumnsMargined"  id="chatTop">
				<h2 class="twoCols0">AI Conversation:</h2>
				<a href="#" class="button twoCols1" onclick="ToggleQueryEditor()">Show / Hide New Question Editor</a>
			</div>

            <div id="currConversation">
                No conversation yet. 
            </div>

			<div id="queryEditorContainer">
				</br>
				<form id="editorForm" method="post">
					<div class="editorContainer">
						<div id="editor">
							Write your considered question for <b>the AI</b> here.
						</div>
					</div>
				</form>
				<p> Keep questions on project topics and related issues, including information relevant to the 
                    project, which may be copied and pasted from project files. (No images or video yet.) </br>
					This <b>AI</b> has passed the <em>CA Bar Exam</em>, so do not hesitate to ask real questions.
					<b>Note:</b> questions, once asked, cannot be edited or deleted, so write professionally. 
				</p>
				<a href="#" class="button" onclick="PostQuery()">Ask the AI</a>
			</div>

			<div class="twoColumnsMargined">
				<h2 class="twoCols0">Project Files:</h2>
				<a href="#" class="button twoCols1" id="showHideUploadsDownloads" onclick="ToggleUploadDownloadSet()">Show / Hide Uploads & Links</a>
			</div>
			<script>gUpDownProjId = "{{contentPost.projectid}}";</script>
			{% include 'common_uploadDownloadSet.html' %}

		</main>

		{# the right sidebar #}
		<aside>
			<div id="aside">
				<a href="#" class="button" onclick="Login()">Login</a>
				<br/>
				<a href="#" class="button" onclick="Register()">Register</a>
			</div>
		</aside>
  
	<footer>
		{{ frags[0].footer | safe }} 
	</footer>
	</div>

	{% include 'common_editStyle.html' %}

    <!-- include the TinyMCE editor -->
	<script src="https://cdn.tiny.cloud/1/tpl8zzz2nyqln68299z0tf9u4m2p3hi6c9qxgr7gal0i454q/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

	<script>

		document.addEventListener("DOMContentLoaded", function() {
			page_init();
		});
		//
		gUser = {};
		//
		function page_init() {

			if ('{{contentPost.aichatid}}' != 'new') {
				ToggleQueryEditor();
			}
			ToggleUploadDownloadSet();

			const access_token = localStorage.getItem('token');
			if (typeof access_token !== 'undefined') {
				
				const options = { headers: { "Authorization": "Bearer " + access_token } }
				fetch("/users/me", options)
				.then(response => response.json())
				.then( response =>  {

					gUser = response;

					if (gUser.hasOwnProperty('roles')) {

						// user is logged in, change right sidebar links:
						document.getElementById("aside").innerHTML = 
						`<a href="#" class="button" onclick="UserProfile()">Profile</a>
						<br/><br/>
						<a href="#" class="button" onclick="UserSettings()">Settings</a>
						<br/><br/>
						<a href="#" class="button" onclick="Logout()">Logout</a>
						`;

						LoadAIConversations();
						get_uploads("{{contentPost.projectid}}"); // gets project uploads and populates their place on the project page
					}
					else {
						// something is wrong, user should not be on this page:
						gUser = {};
						window.location.href = "/";
					}
				});
			}
			else {
				// user is not logged in
				document.getElementById("chatTop").style.display = 'none';
				document.getElementById("currConversation").style.display = 'none';
				document.getElementById("queryEditorContainer").style.display = 'none';
			}
		}

        // configure the TinyMCE editor for AI Chat queries:
        tinymce.init({
            selector: '#editor',
			content_style: "body { font-size: 14pt; font-family: sans-serif; }",
            height: 200,
            convert_urls: false,
            plugins: 'autolink link lists searchreplace visualblocks wordcount',
            menubar: false,
            toolbar: 'undo redo | checklist numlist bullist indent outdent | removeformat',
            });
        

		function truncate( str, n, useWordBoundary ){
			if (str.length <= n) { return str; }
			const subString = str.slice(0, n-1); // the original check
			return (useWordBoundary ? subString.slice(0, subString.lastIndexOf(" ")) 
				  					: subString) + "&hellip;";
		};

		function LoadAIConversations() {
			fetch("/aichat/project/{{contentPost.projectid}}", { method: 'GET', headers: {} })
			.then(response => response.json())
			.then( response =>  {
				let chatList = response;
				console.log( chatList );

				let domain = (new URL(window.location));
				let count = 0;
				let limit = chatList.length;
				if (limit>0) {
					let chatHtml = '';
					for (let i = 0; i < limit; i++) {
						let chat = chatList[i];
						if ((chat.parent != 0) || (chat.aichatid == "{{contentPost.aichatid}}"))
							continue; 

						let createTime = new Date(chat.created_date + 'Z');  // the 'Z' says this is UTC 
						let shortPrompt = truncate( chat.prompt, 64 )

						chatHtml += '<div class="aichatExchange">';
                        chatHtml += '<div>';
                        chatHtml += '<h5>On ';
						chatHtml += createTime.toDateString();
						chatHtml += ' at ';
						chatHtml += createTime.toTimeString();
						chatHtml += ' <em>';
                        chatHtml += chat.username;
						chatHtml += '</em> asked: </h5>';
						chatHtml += '</div>';
						chatHtml += '<a href="' + domain.origin + '/aiExchange/' + chat.aichatid + '">' + shortPrompt + '</a>';
						chatHtml += '</div>';
						count++;
					}
					if (count > 0) {
						document.getElementById("oldConversations").innerHTML = chatHtml;
					}
					else {
						document.getElementById("oldConversations").innerHTML = "<em>Below is this project's first AI conversation.</em>";
					}

					chatHtml = '';
					for (let i = 0; i < limit; i++) {
						let chat = chatList[i];
						if ((chat.parent == "{{contentPost.aichatid}}") || (chat.aichatid == "{{contentPost.aichatid}}")) {

							let createTime = new Date(chat.created_date + 'Z');  // the 'Z' says this is UTC 

							chatHtml += '<div class="aichatExchange">';
							chatHtml += '<div><h5>On ' + createTime.toDateString() + ' at ' + createTime.toTimeString() + ' ';
							chatHtml += '<em>' + chat.username + '</em>';
							chatHtml += ' asked: </h5>' + chat.prompt + '</div>';
							chatHtml += '<div><h5> and <em>the AI</em> answered: </h5>';
							chatHtml += chat.reply;
							chatHtml += '</div></div>';
						}
					}
					document.getElementById("currConversation").innerHTML = chatHtml;
				}
			});
		}

		function PostQuery() {
			if (gUser.hasOwnProperty('roles')) {

				// Get comment's html content
				let newQuery = tinymce.get("editor").getContent({format : 'text'});

				let parentChat = 0;
				if ('{{contentPost.aichatid}}' != 'new') {
					parentChat = '{{contentPost.aichatid}}';
				}

				// post as new question submission:
				const params = {
					"prompt": newQuery, 
					"reply": "",
					"parent": parentChat,
					"projectid": "{{ contentPost.projectid }}",
				};

				const options = {
					method: 'POST',
					headers: {
						  'Accept': 'application/json',
						  'Content-Type': 'application/json',
					},
					body: JSON.stringify( params )  
				};
				fetch( '/aichat', options )
					.then( response => response.json() )
					.then( response => {
						// Do something with response.
						console.log( response )
						if (response.hasOwnProperty('detail')) {
							alert( 'Please fix the following and try again: ' + response.detail )
						}
						else if (response.hasOwnProperty('aichatid')) {
							window.location.href = "/aiExchange/" + response.aichatid;
						}
						else {
							window.location.reload();
						}
					})
					.catch(err => {
						// Do something with the error
						console.log(err) 
						alert( err )
					}) 
			}
			else {
				// something is wrong, user should not be on this page:
				gUser = {};
				window.location.href = "/";
			}
		}
            
		// called when user clicks the "Show / Hide New Comment Editor" button
		function ToggleQueryEditor() {
			const toggle = (e) => {
				if (e.style.display === "none") {
					e.style.display = "block";
				  } else {
					e.style.display = "none";
				  }
			};

			let elem = document.getElementById("queryEditorContainer");
			toggle(elem);
		}

		function ProjectPage() { window.location.href = "/projectPage/{{ contentPost.projectid }}"; }

		function ProjectEdit() { window.location.href = "/projectEditor/{{ contentPost.projectid }}"; }

		function Login() { window.location.href = "/login"; }

		function Register() { window.location.href = "/register"; }

		function UserSettings() { window.location.href = "/settings"; }

		function UserProfile() { window.location.href = "/profile"; }

	</script>

	{% include 'common_logout.html' %}

	{% include 'common_refresh.html' %}
	
</body>
</html>
