<nav>
    {# default links from page_frags.py #}
    {% for alink in frags[0].links %} 
        {{ alink | safe }}
    {% endfor %}

    <h3>Memos:</h3>
    {# not expecting a huge number of memo posts, so here's all of them #}
    {% if access == 'public' -%}
    {% for m in memos %} 
        <a href="/publicmemo/{{ m.memoid }}">{{ m.title }}</a><br/><br/>
    {% endfor %}
    {% else -%}
    {% for m in memos %} 
        <a href="/memoPage/{{ m.memoid }}">{{ m.title }}</a><br/><br/>
    {% endfor %}
    {% endif %}
</nav>