<div id="uploadDownloadSet">
    <form id="uploadForm">
        <div class="upload1">
            <label>Manual File Upload:</label>
        </div>
        <div class="upload2">
            <input type="file" id="NewUploadInput" name="label" onchange="onUploadChangeFunc();" >
        </div>
        <div class="upload3">
            <a href="#" class="button" id="uploadBttn" onclick="UploadFile()">Select a file first</a>
        </div>
    </form>
    <div id="divUploadMsg">
        Use the <b>Browse</b> button to select a file to upload; after selection that right-most button 
        becomes a 'start this upload' button
    </div>

    <div id="divUploadLinksHeader">
        Uploaded File Links:
    </div>
    <div id="divUploadLinksWrapper" class="resizeable">
        <div id="divUploadLinksGridParent">
            <div id="divUploadLinksGrid0">
                filename.ext
            </div>
            <div id="divUploadLinksGrid1">
                file info
            </div>
            <div id="divUploadLinksGrid2">
                copy document link to clipboard
            </div>
            <div id="divUploadLinksGrid3">
                download this file
            </div>
        </div>
    </div>
    <div id="divUploadLinksMsg">
        Above are reviously uploaded files. 
        Use <b>Copy link</b> to place a link to the corresponding <b>image</b> or <b>video</b> on the clipboard. 
	    Then use the <b>image</b> or <b>video</b> embed icons on the <b>text editor toolbar</b> 
		to embed the <b>image</b> or <b>video</b> into the <b>Project</b> description.
		<b>PDF</b> files can be embedded into the <b>Project</b> description directly by clicking the
		<b>embed at cursor</b> button they present. 
    </div>
</div>

<script>
		// called when user clicks the "Show / Hide Uploads & Links" button
		function ToggleUploadDownloadSet() {
			let upDownSet = document.getElementById("uploadDownloadSet")
			if (upDownSet.style.display === "none") {
				upDownSet.style.display = "block";
			  } else {
				upDownSet.style.display = "none";
			  }
		}

		// called when the Input File's browse button has been operated and it's value changed:
		function onUploadChangeFunc() {
			fileInputCtrl = document.getElementById("NewUploadInput")

			let selected = fileInputCtrl.value; 	// has fake path components before filename
			const pathArray = selected.split("\\");	// prepare...
   			const lastIndex = pathArray.length - 1; // ...to remove...
			selected = pathArray[lastIndex];		// ...path components.

			fileUploadButton = document.getElementById("uploadBttn")
			fileUploadButton.innerHTML = 'Upload "' + selected + '"'

			document.getElementById("divUploadMsg").innerHTML = 'Now use the <b>Upload "' + selected + '"</b> button to upload the file'
		}
		
		// works for uploads of ordinary files or project files
		function UploadFile() {
			
			if ("{{contentPost.status}}" == "archived") {
				alert( 'Archived Projects cannot be modified.' )
				return;
			}

			// Select your input type file and store it in a variable
			const input = document.getElementById('NewUploadInput');

			var data = new FormData()
			data.append('file', input.files[0])

			// This will upload the file after having read it
			const upload = (file) => {

				let domain = (new URL(window.location));
				const prebsjnk = domain.origin;
				let furl = prebsjnk + '/upload';
				if (gUpDownProjId != null) {
					// gUpDownProjId is expected to be the project id, if it exists:
					furl += '/' + gUpDownProjId;
				}

				fetch( furl, { // POST endpoint
	  				method: 'POST', headers: {}, body: data // This is your file object
				}).then(
	  				response => response.json() // if the response is a JSON object
				 ).then(
	  				success => {
						console.log( success.message ) // Handle the success response object
						document.getElementById("divUploadMsg").innerHTML = '<p>Success msg: ' +  success.message + '</p>';
						//
						// populate listbox for upload selection:
						if (gUpDownProjId != null) {
							get_uploads(gUpDownProjId);
						}
						else {
							get_uploads();
						}
						//
						// clear the file upload ctrl, now that the file has been uploaded
						fileInputCtrl = document.getElementById("NewUploadInput")
						fileInputCtrl.value = '';
						//
						fileUploadButton = document.getElementById("uploadBttn")
						fileUploadButton.innerHTML = 'Select a file first'

						// after all that, we need to reload the page anyway:
						window.location.reload();
					}
				 ).catch(
	  				error => {
						console.log( error ) // Handle the error response object
						document.getElementById("divUploadMsg").innerHTML = '<p>Error msg: ' + error + '</p>';
					}
				);
  			};
  
  			upload(input.files[0]);
		}

        function EmbedPdf( pdfLink ) {
            let markup = `<iframe src="${pdfLink}" width="100%" height="300px"></iframe>`;
            tinymce.activeEditor.execCommand('mceInsertContent', false, markup );
        }

		// called when "Checkout file" buttons are clicked
		function CheckoutFile( pfid, filename ) {

			const options = {
				credentials: 'include',
				method: 'PUT', // Method itself
				headers: {
				 		'Content-type': 'application/json; charset=UTF-8', // Indicates the content 
				 		// "Authorization": "Bearer " + access_token // only needed when JWT is not in cookie
				},
				body: JSON.stringify({}) // We send data in JSON format
			}

			let domain = (new URL(window.location));
			const prebsjnk = domain.origin;
			let furl = prebsjnk + '/upload/checkout/' + pfid;
			
			fetch(furl, options)
			.then(resp => resp.blob())
			.then(blob => {
				const url = window.URL.createObjectURL(blob);
				const a = document.createElement('a');
				a.style.display = 'none';
				a.href = url;
				a.download = filename;
				document.body.appendChild(a);
				a.click();
				window.URL.revokeObjectURL(url);
				alert('"' + filename + '" has downloaded.'); 

				// re-populate listbox for upload selection displaying new status:
				if (gUpDownProjId != null) {
					get_uploads(gUpDownProjId);
				}
				else {
					get_uploads();
				}
			})
			.catch(() => alert('oh no!'));
		}

		// called when "Checkin file" buttons are clicked
		function CheckinFile( pfid, filename ) {

			fileInputCtrl = document.getElementById("CheckInInput")

			let selected = fileInputCtrl.value; 	// has fake path components before filename
			const pathArray = selected.split("\\");	// prepare...
   			const lastIndex = pathArray.length - 1; // ...to remove...
			selected = pathArray[lastIndex];		// ...path components.

			var data = new FormData()
			data.append('file', fileInputCtrl.files[0])

			// This will upload the file after having read it
			const checkin = (file) => {

				let domain = (new URL(window.location));
				const prebsjnk = domain.origin;
				let furl = prebsjnk + '/upload/checkin/' + pfid;

				fetch( furl, { // POST endpoint
					  method: 'PUT', 
					  headers: {},
					  body: data // This is your file object
				}).then(
					  response => response.json() // if the response is a JSON object
				 ).then(
					  success => {
						console.log( success.message ) // Handle the success response object
						document.getElementById("divUploadMsg").innerHTML = '<p>Success msg: ' +  success.message + '</p>';
						//
						// populate listbox for upload selection:
						window.location.reload();
					}
				 ).catch(
					  error => {
						console.log( error ) // Handle the error response object
						document.getElementById("divUploadMsg").innerHTML = '<p>Error msg: ' + error + '</p>';
					}
				);
			  };
  
			checkin(fileInputCtrl.files[0]);
		}

		// called when "Checkout file" buttons are clicked
		function CheckoutCancel( pfid, filename ) {

			const options = {
				credentials: 'include',
				method: 'PUT', // Method itself
				headers: {
				 		'Content-type': 'application/json; charset=UTF-8', // Indicates the content 
				 		// "Authorization": "Bearer " + access_token // only needed when JWT is not in cookie
				},
				body: JSON.stringify({}) // We send data in JSON format
			}

			let domain = (new URL(window.location));
			const prebsjnk = domain.origin;
			let furl = prebsjnk + '/upload/checkcancel/' + pfid;
			
			fetch(furl, options)
			.then(
				response => {
					if (response.hasOwnProperty('detail')) {
                        alert( 'Please fix the following and try again: ' + response.detail )
                    }
                    else {
                        window.location.reload();
                    }
				}
			).catch(
				error => {
					console.log( error ) // Handle the error response object
					document.getElementById("divUploadMsg").innerHTML = '<p>Error msg: ' + error + '</p>';
				}
			);
		}

		// get list of uploaded files and populate upload selection list:
		// 'projectid' can be null/undefined and uploads go to general upload directory
		function get_uploads( projectid ) {
			let domain = (new URL(window.location));
			const prebsjnk = domain.origin;
			let furl = prebsjnk + '/upload';
			if (projectid != null) {
				// project is expected to be the project name, if passed:
				furl += '/' + projectid;
			}
			fetch(furl, { // GET endpoint
				  method: 'GET',
				  headers: {}
			}).then(
				  response => response.json() // if the response is a JSON object
			 ).then(
				  success => {
					
					console.log( success ) // Handle the success response object

					let uploadLinksWrapper = document.getElementById("divUploadLinksWrapper")
					uploadLinksWrapper.innerHTML = '';

					let fileLinks = success;
					for (let i = 0; i < fileLinks.length; i++) {
						let filename = fileLinks[i].filename;
						let pfid = fileLinks[i].pfid;
						let projectid = fileLinks[i].projectid;
						let fnParts = filename.split('.');
						let ext = fnParts[ fnParts.length - 1 ].toLowerCase();
						let fileType = fileLinks[i].type;
						let fileLink = fileLinks[i].link;
						let version = fileLinks[i].version;
						let checked_userid = fileLinks[i].checked_userid;
						let checked_date = fileLinks[i].checked_date;

						let fileSize = Number(fileLinks[i].size);
						let fileSizeStr = fileSize;
						if (fileSize > 1024*1024) {
							fileSizeStr = String(Number(fileSize / (1024*1024)).toFixed(2)) + ' M'
						}
						else if (fileSize > 1024) {
							fileSizeStr = String(Number(fileSize / 1024).toFixed(2)) + ' K'
						}
						else {
							fileSizeStr = String(Number(fileSize)) + ' b'
						}
						
						let lastBttn = "";

						// set this first:
						let chkoutDloadBttn = `<a href="#" class="button" onclick="CheckoutFile('${pfid}', '${filename}')">Check out file</a></br>(to modify)`;
						if (checked_userid > 0) {
							if ("{{userid}}" == checked_userid) {
								chkoutDloadBttn = 
								    `<a href="#" class="button" onclick="document.getElementById('CheckInInput').click();">Check file in</a></br>You're modifying this file
									<input type="file" style="display:none;" id="CheckInInput" name="checkInInput" onchange="CheckinFile('${pfid}', '${filename}')" >`;

								lastBttn = `<a href="#" class="button" onclick="CheckoutCancel('${pfid}', '${filename}')">Cancel Check out</a>`;
							}
							else { // current user is not the checker
								chkoutDloadBttn = 'Checked out by UserId ' + checked_userid + '</br>' + 
								`<a href="#" class="button" onclick="DownloadFile('${fileLink}','${filename}')">Download Last Version</a>`;

								if ("{{isAdmin}}") {
									lastBttn = `<a href="#" class="button" onclick="CheckoutCancel('${pfid}', '${filename}')">Admin Cancel Check out</a>`;
								}
							}
						}


						// lastBttn = "" // `<a href="#" class="button" onclick="DownloadFile('${fileLink}','${filename}')">Download file</a>`;
						
						let docLinkBttn = `<a href="#" class="button" onclick="navigator.clipboard.writeText('${fileLink}')">Copy link</a></br>(for embedding)`;

                        if (fileType == 'media') {
							if (projectid != null) {
								docLinkBttn = `<a href="#" class="button" onclick="navigator.clipboard.writeText('/video/project/${pid}/${filename}')">Copy link</a></br>(for embedding)`;
							}
							else {
								docLinkBttn = `<a href="#" class="button" onclick="navigator.clipboard.writeText('/video/${filename}')">Copy link</a></br>(for embedding)`;
							}
						}
                        else if (fileType == 'binary') {
                            if (ext == 'pdf') {
                                docLinkBttn = `<a href="#" class="button" onclick="EmbedPdf('${fileLink}')">Embed at cursor</a>`;
                            }
                            else {
                                docLinkBttn = 'cannot embed';
                            }
                        } 

						let markup = `
						<hr>
						<div id="divUploadLinksGridParent">
							<div id="divUploadLinksGrid0">
								<b>${filename}</b>
							</div>
							<div id="divUploadLinksGrid1">
								version: ${version}
							</div>
							<div id="divUploadLinksGrid2">
								${fileType}, ${fileSizeStr}
							</div>
							<div id="divUploadLinksGrid3">
								${docLinkBttn}
							</div>
							<div id="divUploadLinksGrid4">
								${chkoutDloadBttn}
							</div>
							<div id="divUploadLinksGrid5">
								${lastBttn}
							</div> 
						</div>`;

						uploadLinksWrapper.innerHTML += markup;
					}
					if (fileLinks.length < 1) {
						// no poject files yet, so hide the empty uploaded files list:
						let upDownSet = document.getElementById("uploadDownloadSet")
						upDownSet.style.display = "none";
					}
				}
			 ).catch(
				  error => {
					console.log( error ) // Handle the error response object
				}
			);
		  };

		// called when "Download this file" buttons are clicked
		function DownloadFile(fileUrl, filename) {
			fetch(fileUrl)
			.then(resp => resp.blob())
			.then(blob => {
				const url = window.URL.createObjectURL(blob);
				const a = document.createElement('a');
				a.style.display = 'none';
				a.href = url;
				a.download = filename;
				document.body.appendChild(a);
				a.click();
				window.URL.revokeObjectURL(url);
				alert('"' + filename + '" has downloaded.'); 
			})
			.catch(() => alert('oh no!'));
		}

</script>