<!DOCTYPE html>
{# 
	This is a Jinja2 template for an html page
	These lines are comments and are removed when the template is rendered. 
#}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MiniCMS</title>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
	<div class="grid">
		{% include 'common_header.html' %}

		{# the left sidebar #}
		{% include 'common_lsidebar.html' %}

		{# the main content area #}
		<main>
			<div id="mainContent">
				{# title and post contents, with an optional edit button #}
				<H1> About </H1>
				<div class="ql-editor">
					<h2 style="line-height: 1.1; font-family: Verdana, Geneva, sans-serif; font-weight: bold; overflow-wrap: break-word; word-break: break-word; hyphens: auto; font-size: 2em; color: rgb(74, 74, 74); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"><img src="/static/MiniCMS.png" alt="" width="130" height="130">&nbsp;MiniCMS<br>document &amp; content management for secure, in-office &amp; remote project collaboration</h2>
<p style="color: rgb(74, 74, 74); font-family: sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;"><span style="font-size: 14pt;"><strong>MiniCMS provides the following:</strong></span></p>
<ul style="color: rgb(74, 74, 74); font-family: sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
<li style="font-size: 14pt;"><span style="font-size: 14pt;"><strong>User accounts</strong>&nbsp;with varied&nbsp;<strong>Roles</strong>&nbsp;granting&nbsp;<strong>Membership&nbsp;</strong>to&nbsp;<strong>Projects</strong></span></li>
<li style="font-size: 14pt;"><span style="font-size: 14pt;"><strong>User accounts&nbsp;</strong>also support&nbsp;<strong>Admin&nbsp;</strong>and&nbsp;<strong>Staff Roles</strong>, where&nbsp;<strong>Admin</strong>&nbsp;accounts enjoy greater permissions than&nbsp;<strong>Staff</strong>&nbsp;accounts</span></li>
<li style="font-size: 14pt;"><span style="font-size: 14pt;"><strong>Projects&nbsp;</strong>are access controlled collections of&nbsp;<strong>files</strong>,&nbsp;<strong>memos</strong>,&nbsp;<strong>comments&nbsp;</strong>and related info specific to a&nbsp;<strong>Project&nbsp;</strong>and its&nbsp;<strong>Members</strong></span>
<ul>
<li style="font-size: 14pt;">Only <strong>Project Members</strong> can access <strong>Projects </strong>and their information.
<ul>
<li style="font-size: 14pt;"><strong>Users </strong>not in a <strong>Project </strong>have no way of knowing a <strong>Project </strong>exists.&nbsp;</li>
</ul>
</li>
<li style="font-size: 14pt;"><span style="font-size: 14pt;"><strong>Files</strong>&nbsp;are uploaded documents of any kind.</span>
<ul>
<li style="font-size: 14pt;"><span style="font-size: 14pt;"><strong>Uploaded </strong>F<strong>iles </strong>are accessible to&nbsp;<strong>Project Members&nbsp;</strong>anywhere they have Internet&nbsp;</span></li>
</ul>
</li>
<li style="font-size: 14pt;"><span style="font-size: 14pt;"><strong>Projects, Memos </strong>and <strong>Comments</strong> are Rich Media Documents containing <strong>Project </strong>related information <strong>Users </strong>create using <strong>MiniCMS</strong>.<br></span>
<ul>
<li style="font-size: 14pt;"><span style="font-size: 14pt;"><strong>Uploaded Files</strong> may be embedded into the <strong>Rich Media Text Editor</strong> provided by the <strong>Project</strong>, <strong>Memo </strong>and <strong>Comment </strong>content types within <strong>MiniCMS</strong>.<br></span>
<ul>
<li style="font-size: 14pt;"><span style="font-size: 14pt;">Image, video, and PDF files embed as media documents, meaning images display, video is playable, PDFs are interactive.</span></li>
</ul>
</li>
</ul>
</li>
<li style="font-size: 14pt;"><span style="font-size: 14pt;"><strong>Comments</strong>&nbsp;are other&nbsp;<strong>Project Member</strong>&nbsp;annotations to&nbsp;<strong>Project Memos</strong>&nbsp;authored by other&nbsp;<strong>Project Members.</strong></span></li>
</ul>
</li>
<li><span style="font-size: 14pt;"><strong>Admin</strong> features include global access of site data, <strong>Projects</strong>, <strong>Users </strong>and their activity within <strong>MiniCMS</strong>.<br></span></li>
</ul>
<p><span style="font-size: 14pt;"><strong>MiniCMS </strong>provides the essential secure data/file/info sharing necessary for organizations with <strong>Projects </strong>and <strong>Project Members</strong> working in different locations, potentially in different time zones.<br></span></p>
<p>&nbsp;</p>
			</div>
			<h5>tags: home</h5>
		</main>

		{# the right sidebar #}
		<aside>
			<div id="aside">
				<a href="#" class="button" onclick="Login()">Login</a>
				{% if regers %}
				<br/>
				<a href="#" class="button" onclick="Register()">Register</a>
				{% endif %}
			</div>
		</aside>
  
	<footer>
		{{ frags[0].footer | safe }} 
	</footer>
	</div>
	
	{% include 'common_ifAccessDo.html' %}

	{% include 'common_slides.html' %}

	<script>

		document.addEventListener("DOMContentLoaded", function() {
			page_init();
			slidesInit();
			setTimeout( slidesInit, 3000 );
		  });
		function page_init() {

            // everyone is allowed:
			const access_token = 1 // = localStorage.getItem('token');
			//
			if (typeof access_token !== 'undefined') {
				fetch("/users/me", { headers: { "Authorization": "Bearer " + access_token } })
				.then(response => response.json())
				.then( response => 
					{
						if (response.hasOwnProperty('roles')) {

							// user is logged in, right sidebar changes:
							
							document.getElementById("aside").innerHTML = 
							`<a href="#" class="button" onclick="UserProfile()">Profile</a>
							<br/><br/>
							<a href="#" class="button" onclick="UserSettings()">Settings</a>
							<br/><br/>
							<a href="#" class="button" onclick="Logout()">Logout</a>
							`;
						}
				  })
			}
		}

		function Login() { window.location.href = "/login"; }

		function Register() { window.location.href = "/register"; }

		function UserProfile() { window.location.href = "/profile"; }

		function UserSettings() { window.location.href = "/settings"; }

	</script>

	{% include 'common_logout.html' %}

	{% include 'common_refresh.html' %}

</body>
</html>
