<!DOCTYPE html>
{# 
	This is a Jinja2 template for an html page
	These lines are comments and are removed when the template is rendered. 
#}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MiniCMS</title>
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
	<div class="grid">
		{% include 'common_header.html' %}

		{# the left sidebar #}
		{% include 'common_lsidebar.html' %}

		{# the main content area #}
		<main>
			<div id="mainContent">
				{# title and post contents, with an optional edit button #}
				<H1> About </H1>
				<div class="ql-editor">
					<h2><img src="/static/uploads/MiniCMS/MiniCMS.png" alt="" width="130" height="130"> MiniCMS<br>document &amp; content management for secure, in-office &amp; remote project collaboration</h2>
<p><strong>MiniCMS provides the following:</strong></p>
<ul>
<li><strong>User accounts</strong> with varied <strong>Roles</strong> granting <strong>Membership </strong>to <strong>Projects</strong></li>
<li><strong>User accounts </strong>also support <strong>Admin </strong>and <strong>Staff Roles</strong>, where&nbsp;<strong>Admin</strong> accounts enjoy greater permissions than&nbsp;<strong>Staff</strong> accounts</li>
<li><strong>Projects </strong>are access controlled collections of <strong>files</strong>, <strong>memos</strong>, <strong>comments </strong>and related info specific to a <strong>Project </strong>and its <strong>Members</strong>
<ul>
<li><strong>Files</strong> are uploaded documents of any kind.
<ul>
<li>Uploaded <strong>files </strong>are accessible to <strong>Project Members </strong>anywhere they have Internet&nbsp;</li>
</ul>
</li>
<li><strong>Memos</strong> are online rich media documents containing project related information
<ul>
<li>Uploaded files may be embedded into memos
<ul>
<li>Image, video, and PDF files embed as media documents, meaning images display, video is playable, PDFs are interactive</li>
</ul>
</li>
</ul>
</li>
<li><strong>Comments</strong> are other&nbsp;<strong>Project Member</strong> annotations to&nbsp;<strong>Project Memos</strong> authored by other&nbsp;<strong>Project Members</strong></li>
</ul>
</li>
</ul>
			</div>
			<h5>tags: home</h5>
		</main>

		{# the right sidebar #}
		<aside>
			<div id="aside">
				<a href="#" class="button" onclick="Login()">Login</a>
				<br/>
				<a href="#" class="button" onclick="Register()">Register</a>
			</div>
		</aside>
  
	<footer>
		{{ frags[0].footer | safe }} 
	</footer>
	</div>
	
	{% include 'common_ifAccessDo.html' %}

	{% include 'common_slides.html' %}

	<script>

		document.addEventListener("DOMContentLoaded", function() {
			page_init();
			slidesInit();
			setTimeout( slidesInit, 3000 );
		  });
		function page_init() {

            // everyone is allowed:
			const access_token = 1 // = localStorage.getItem('token');
			//
			if (typeof access_token !== 'undefined') {
				fetch("/users/me", { headers: { "Authorization": "Bearer " + access_token } })
				.then(response => response.json())
				.then( response => 
					{
						if (response.hasOwnProperty('roles')) {

							// user is logged in, right sidebar changes:
							
							document.getElementById("aside").innerHTML = 
							`<a href="#" class="button" onclick="UserProfile()">Profile</a>
							<br/><br/>
							<a href="#" class="button" onclick="UserSettings()">Settings</a>
							<br/><br/>
							<a href="#" class="button" onclick="Logout()">Logout</a>
							`;
						}
				  })
			}
		}

		function Login() { window.location.href = "/login"; }

		function Register() { window.location.href = "/register"; }

		function UserProfile() { window.location.href = "/profile"; }

		function UserSettings() { window.location.href = "/Settings"; }

	</script>

	{% include 'common_logout.html' %}

	{% include 'common_refresh.html' %}

</body>
</html>
