# asyncpg==0.22.0
asyncpg==0.27.0

databases[postgresql]==0.6.1

# fastapi==0.85.1
fastapi==0.92.0

# fastapi-mail==1.2.0
fastapi-mail==1.2.5

# psycopg2
# psycopg2==2.9.5
psycopg2-binary

# pydantic==1.10.2
pydantic==1.10.5

pydantic[email]

SQLAlchemy==1.4.42
# SQLAlchemy==2.0.4

uvicorn==0.20.0
# gunicorn==20.1.0 no longer used

# Jinja2==3.0.1
Jinja2==3.1.2

# aiofiles==22.1.0
aiofiles==23.1.0

python-multipart==0.0.5
python-jose==3.3.0
passlib[bcrypt]==1.7.4
python-dotenv==0.21.0
email-validator

mimelib==0.1.1
python-dateutil==2.8.2

celery
flower
redis

# openai==0.27.2
# # langchain==0.0.115
openai
langchain

# dev
# basic test framework
pytest==6.2.3
# requests==2.25.1
requests==2.26.0
# provides utilities for testing asynchronous code
# pytest-asyncio
# provides an async request client for testing endpoints
# httpx
# allows testing async applications without having to spin up an ASGI server
# asgi-lifespan
